body {
	color: #000;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	background-color: #e8f5fe;
}

ul {
	list-style-type: none;
}

#titlenav {
	text-decoration: none;
	color: #000;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar {
	/* background-color: #22A3F7;#07B267 */
	background-image: linear-gradient(to right, #22A3F7, #07B267);
	display: flex;
}

.links {
	font-size: 15px;
	text-decoration: none;
	color: #000;
	margin: 20px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	padding: 5px;
}

.links:hover {
	font-size: 15px;
	color: #e8f5fe;
	text-decoration: none;
	padding: 5px;
	transition: 0.5s;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li:last-child {
	margin-right: 50px;
}

#header-link {
	position: absolute; 
	right: 0;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
}

#intro-video {
	margin: 50px;
}

#intro-info {
	margin: 50px;
  	top: 50%;
}

#intro-header {
	text-align: left;
}

.modal {
	margin: 50px;
}

.modal-content {
	height: 560px;
	overflow: auto;
}

.modal-btns {
	margin-top: 30px;
}

#gum-orientation-logo {
	width: 400px;
	margin-top: -25px;
	margin-bottom: 33px;
}

#footer {
	display: flex;
	justify-content: center;
}

#app-icons {
	width: 190px;
}

#googleplay-icon {
	height: 70px;
	width: 190px;
}

#apple-icon {
	height: 47px;
	width: 165px;
	margin-left: 13px;
}

#videos-container {
	display: flex;
}

.video-section-container {
	margin: 20px;
}

.class-links {
	font-size: 12px;
	text-decoration: none;
	color: #000;
	text-align: left;
	margin-left: -40px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.class-links:hover {
	font-size: 12px;
	color: #e8f5fe;
	text-decoration: none;
	transition: 0.5s;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#tidbit-container {
	width: 1000px;
	justify-content: center;
	margin: auto;
}

#tidbits-header {
	text-align: center;
	margin: 20px;
}

.tidbits {
	width: 900px;
	background-color: #07B267;
	padding: 15px;
	border-radius: 20px;
	font-size: 20px;
	text-align: center;
	margin: auto;
	margin-bottom: 20px;
}

/* 
	Used here because it messes up some modals if left in the body. 
	Just include the class tag in elements you want to use 
*/
/* .specialfont {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.whiteTxt {
	color: rgba(0, 0, 0, 1.00);
	white-space: pre-line;
} */
/* 
.banner .navbar {
	margin-top: 4%;
}

.banner .navbar-brand {
	color: rgb(0, 0, 0);
	font-size: 1.8em;
	font-weight: 700;
	margin-left: 10%;
}


.info {
	text-align: center;
	background-color: #fff;
}

.grid-container {
	display: grid;
	white-space: pre-line;
}

#titlenav {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 200%;
	font-weight: bold;
}

.oval {
	width: 100px;
	height: 100px;
	background: rgb(253, 101, 0);
	border-radius: 50%;
}

.pillbtn {
	background-color: rgb(7, 178, 103);
	border: none;
	width: 80%;
	height: 75%;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 16px;
}

.pillbtn:hover {
	box-shadow: 0 0 0 2pt white !important;
}

.sessiontitle {
	background-color: rgb(7, 178, 103);
	text-align: center;
	border-radius: 16px;
	padding: 10px 10px;
	margin: -2% 2px;
}

.sessiontitle:hover {
	box-shadow: 0 0 0 2pt white !important;
}

.tidbit {
	background-color: rgb(7, 178, 103);
	text-align: left;
	border-radius: 16px;
}

.tidbit:hover {
	box-shadow: 0 0 0 2pt white !important;
}

.header img {
	float: left;
	background: #555;
} */

/*all of the following code is just for the "How to Get Up and Move" page link*/
/* body {
	background-color: #fff;
	color: #FFFFFF;
	font-size: 20px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1,
h2 {
	text-align: center;
}

#wrapper {
	width: 900px;
	margin: 0 auto;
}

.stepTitle {
	padding: 4px;
	text-align: left;
	font-size: 24px;
	background-color: #16a1f1
}

.stepContent {
	background-color: #07b267;
	padding: 7px;
	display: flex;
	justify-content: center;
}

.stepDescription {
	width: 55%;
	padding: 5px;
}

.stepImage {
	width: 40%;
	padding: 5px;
	text-align: center;
	align-items: center
}

.warning {
	background-color: #FBB8C4;
	padding: 10px;
	border-radius: 20px;
}

.material-icons {
	color: red;
	font-size: 3em;
}

.card-body {
	background-color: #16a1f1;
} */