/* Makes it so that clicked links don't become BLUE  https://stackoverflow.com/questions/6722467/how-to-remove-the-default-link-color-of-the-html-hyperlink-a-tag*/
a,
a:hover,
a:focus,
a:active {
	text-decoration: none !important;
	color: inherit !important;
}

.externalLink {
	text-decoration: underline !important;
	color: blue !important;
}

body {
	background-color: #fff !important;
	/* #16A1f1*/
	background-repeat: no-repeat;
	background-size: 50%;
	background-position-x: center;
	background-position-y: center;
	background-attachment: fixed;
	color: #000;
	/* font-family: 'Courier New', monospace !important; */
}

/* 
	Used here because it messes up some modals if left in the body. 
	Just include the class tag in elements you want to use 
*/
.specialfont {
	font-family: Helvetica, sans-serif !important;
}

.whiteTxt {
	color: rgba(0, 0, 0, 1.00);
	white-space: pre-line;
}

.banner .navbar {
	margin-top: 4%;
}

.banner .navbar-brand {
	color: rgb(0, 0, 0);
	font-size: 1.8em;
	font-weight: 700;
	margin-left: 10%;
}

.navbar {
	background-color: rgb(7, 178, 103);
	/* rgb(80, 200, 120) */
	color: #ffffff;
}

.navbar-nav {
	font-size: 150%;
	font-weight: bold;
}

.navbar-custom {
	background-image: linear-gradient(to left, #22a3f7, rgb(7, 178, 103));
	border-bottom: 2px solid rgb(255, 255, 130) !important;
}

.info {
	text-align: center;
	background-color: #fff;
}

.grid-container {
	display: grid;
	/* grid-template-columns: auto auto auto; */
	white-space: pre-line;
}

#test {
	color: red;
}

#titlenav {
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 200%;
	font-weight: bold;
}

/* https://stackoverflow.com/questions/26961221/how-to-make-an-oval-in-css */
.oval {
	width: 100px;
	height: 100px;
	background: rgb(253, 101, 0);
	border-radius: 50%;
}

/* https://www.w3schools.com/howto/howto_css_pill_button.asp */
.pillbtn {
	background-color: rgb(7, 178, 103);
	border: none;
	/* used to be none */
	width: 80%;
	height: 75%;
	padding: 10px 20px;
	text-align: center;
	/* vertical-align: middle; trying to center text in button */
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 16px;
}

.pillbtn:hover {
	box-shadow: 0 0 0 2pt white !important;
	/* box shadow https://stackoverflow.com/questions/5394116/outline-radius */
}

.sessiontitle {
	background-color: rgb(7, 178, 103);
	text-align: center;
	border-radius: 16px;
	padding: 10px 10px;
	margin: -2% 2px;
}

.sessiontitle:hover {
	box-shadow: 0 0 0 2pt white !important;
}

.tidbit {
	background-color: rgb(7, 178, 103);
	text-align: left;
	border-radius: 16px;
}

.tidbit:hover {
	box-shadow: 0 0 0 2pt white !important;
}

.header img {
	float: left;
	background: #555;
}

/*all of the following code is just for the "How to Get Up and Move" page link*/
body {
	background-color: #fff;
	/* background color */
	color: #FFFFFF;
	/* text color for the entire page */
	font-size: 20px;
	font-family: Verdana, Geneva, sans-serif;
}

h1,
h2 {
	text-align: center;
	/* centers h1 and h2 content */
}

/* styles for the "wrapper" div, notice that "wrapper" is preceded by "#" */
#wrapper {
	width: 900px;
	margin: 0 auto;
	/* centers wrapper */
}

/* styles for the "stepTitle" class, notice that "stepTitle" is preceded by a dot */
.stepTitle {
	padding: 4px;
	text-align: left;
	font-size: 24px;
	background-color: #16a1f1
}

.stepContent {
	background-color: #07b267;
	padding: 7px;
	display: flex;
	justify-content: center;
}

.stepDescription {
	width: 55%;
	padding: 5px;
}

.stepImage {
	width: 40%;
	padding: 5px;
	text-align: center;
	align-items: center
}

.warning {
        background-color: #FBB8C4;
        padding:10px;
        border-radius:20px;
    }

.material-icons {
    color:red; 
    font-size:3em;
}

.card-body {
	background-color: #16a1f1;
}


.donate{
	border: 1.6px solid black;
	background-color: #fff;
	padding: 40px;
	margin: auto;
	margin-top: 7%;
	width: 450px;
	height: 260px;
	border-radius: 42px;
	box-shadow: 23px 23px #8EA4D5;
}

.card-title{
	font-weight: bold;
	font-size: 40px;
}

.card-content{
	font-weight: bold;
	font-size: 18px;
	padding-top: 0%;
}

#venmo-img{
	width:60px;
	height:60px;
}

#paypal-img{
	width:60px;
	height:60px;
	margin-left: 15px;
}

.contact-footer{
	margin-left: 5%;
	margin-top: 5%;
	display: flex;
}

.footer-title{
	font-weight: bold;
	font-size: 40px;
	position: absolute;
	left:300px;
	bottom: 330px;
	background: url('../img/triangle.png');
	background-repeat: no-repeat;
    background-size: 50px 50px;
	background-position: right;
}

.mail{
	font-weight: bold;
	font-size: 18px;
	position: absolute;
	left:290px;
	bottom: 240px;
	background: url('../img/mail.png');
	background-repeat: no-repeat;
    background-size: 50px 50px;
	background-position: left;
	padding: 20px;
}

.phone{
	font-weight: bold;
	font-size: 18px;
	position: absolute;
	left:290px;
	bottom: 170px;
	background: url('../img/phone.png');
	background-repeat: no-repeat;
    background-size: 50px 50px;
	background-position: left;
	padding: 20px;
}

.follow{
	font-weight: bold;
	font-size: 23px;
	position: absolute;
	left:390px;
	bottom: 80px;
	padding: 20px;
}

.payment{
	margin-top: 30px;
	display: flex;
}

.social-media{
	display: flex;
	position: absolute;
	left:350px;
	bottom: 30px;
}

.facebook-img{
	width: 70px;
	height: 70px;
	margin: 7px;
}

.instagram-img{
	width: 70px;
	height: 70px;
	margin: 7px;
}

.twitter-img{
	width: 70px;
	height: 70px;
	margin: 7px;
}

.footer-right{
	background-color: #8EA4D5;
	position: absolute;
	left:730px;
	top:460px;
	width: 710px;
	height: 440px;
}

.footer-left{
	position: absolute;
	width: 800px;
	height: 400px;
	left:0px;
	top:500px;
}

.email-text{
	color: white;
	font-size: 20px;
}

.email-form{
	margin-left: 120px;
	margin-right: 140px;
	margin-top: 70px;
}

.email{
	border: none;
	border-radius: 5px;
	height: 35px;
	width: 250px;
}

.email-content{
	border-radius: 5px;
	border: none;
	width: 250px;
}

.email-button{
	background-color: #000;
	color: white;
	width: 110px;
	height: 40px;
	border: none;
	border-radius: 5px;
	margin-left: 60px;
}






