<div class="navbar navbar-expand-lg navbar-inverse navbar-fixed-bottom" id="footer">
    <div id="videos-container">
        <div class="video-section-container">
            <b class="video-header">Easy Guiding Videos</b>
            <ul>
                <li><a href="https://www.youtube.com/watch?v=HLVORLKgbG0" target="_blank" class="class-links">Level 1: Session 1</a></li>
                <li><a href="https://www.youtube.com/watch?v=khRNGR_nRZM" target="_blank" class="class-links">Level 1: Session 2</a></li>
                <li><a href="https://www.youtube.com/watch?v=0jBrAwQxxFo" target="_blank" class="class-links">Level 1: Session 3</a></li>
                <li><a href="https://www.youtube.com/watch?v=woWyNX5kyDA" target="_blank" class="class-links">Level 1: Session 4</a></li>
                <li><a href="https://www.youtube.com/watch?v=1zUxn6P6cGE" target="_blank" class="class-links">Level 1: Session 5</a></li>
                <li><a href="https://www.youtube.com/watch?v=4mPcd83f1ws" target="_blank" class="class-links">Level 1: Session 6</a></li>
            </ul>
        </div>
        <div class="video-section-container">
            <b class="video-header">Moderate Guiding Videos</b>
            <ul>
                <li><a href="https://www.youtube.com/watch?v=3zb7Nh_Upls" target="_blank" class="class-links">Level 2: Session 1</a></li>
                <li><a href="https://www.youtube.com/watch?v=-ajQ8ddWrUg" target="_blank" class="class-links">Level 2: Session 2</a></li>
                <li><a href="https://www.youtube.com/watch?v=L_NQy0bInok" target="_blank" class="class-links">Level 2: Session 3</a></li>
                <li><a href="https://www.youtube.com/watch?v=kwiHORsMBcc" target="_blank" class="class-links">Level 2: Session 4</a></li>
                <li><a href="https://www.youtube.com/watch?v=1zUxn6P6cGE" target="_blank" class="class-links">Level 2: Session 5</a></li>
                <li><a href="https://www.youtube.com/watch?v=4mPcd83f1ws" target="_blank" class="class-links">Level 2: Session 6</a></li>
            </ul>
        </div>
        <div class="video-section-container">
            <b class="video-header">Vigorous Guiding Videos</b>
            <ul>
                <li><a href="https://www.youtube.com/watch?v=JGrCYKVN8tA" target="_blank" class="class-links">Level 3: Session 1</a></li>
                <li><a href="https://www.youtube.com/watch?v=51S_NKY7qnU" target="_blank" class="class-links">Level 3: Session 2</a></li>
                <li><a href="https://www.youtube.com/watch?v=bOMWbFV8ae8" target="_blank" class="class-links">Level 3: Session 3</a></li>
                <li><a href="https://www.youtube.com/watch?v=agAZzVkEjVk" target="_blank" class="class-links">Level 3: Session 4</a></li>
                <li><a href="https://www.youtube.com/watch?v=1zUxn6P6cGE" target="_blank" class="class-links">Level 3: Session 5</a></li>
                <li><a href="https://www.youtube.com/watch?v=4mPcd83f1ws" target="_blank" class="class-links">Level 3: Session 6</a></li>
            </ul>
        </div>
        
    </div>
    <div id="app-icons">
        <a href="/" target="_blank"><img src="../img/google-play-badge.png" alt="Google play badge" id="googleplay-icon"></a>
        <a href="/" target="_blank"><img src="../img/applestore.png" id="apple-icon"></a>
    </div>
</div>

<script type="module" src='../js/data.js'></script>
</body>
</html>