/* Makes it so that clicked links don't become BLUE  https://stackoverflow.com/questions/6722467/how-to-remove-the-default-link-color-of-the-html-hyperlink-a-tag*/
a, a:hover, a:focus, a:active {
	text-decoration: none !important;
	color: inherit !important;
}

.externalLink {
	text-decoration: underline !important;
	color:blue !important;
}

body {
	background-color:#22a3f7 !important; /* #16A1f1*/
	background-repeat: no-repeat;
	background-size: 50%;
	background-position-x: center;
	background-position-y: center;
	background-attachment: fixed;
	/* font-family: 'Courier New', monospace !important; */
}

/* 
	Used here because it messes up some modals if left in the body. 
	Just include the class tag in elements you want to use 
*/
.specialfont {
	font-family: Helvetica, sans-serif !important;
}

.whiteTxt {
	color: rgba(0,0,0,1.00);
	white-space: pre-line;
}

.banner .navbar{
	margin-top:4%;
}

.banner .navbar-brand{
	color: rgb(0, 0, 0);
	font-size:1.8em;
	font-weight: 700;
	margin-left: 10%;
}

.navbar {
   	background-color: rgb(7, 178, 103); /* rgb(80, 200, 120) */
    color: #ffffff;
}

.navbar-nav {
	font-size: 150%;
	font-weight: bold;
}

.navbar-custom { 
    background-image: linear-gradient(to left, #22a3f7, rgb(7, 178, 103));
	border-bottom: 2px solid rgb(255, 255, 130) !important;
}

.info {
	text-align: center;
	background-color:#22a3f7;
}

.grid-container {
	display: grid;
	/* grid-template-columns: auto auto auto; */
	white-space: pre-line;
}

#test {
    color:red;
}

#titlenav {
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 200%;
	font-weight: bold;
}

/* https://stackoverflow.com/questions/26961221/how-to-make-an-oval-in-css */
.oval {
	width: 100px;
	height: 100px;
	background: rgb(253, 101, 0);
	border-radius: 50%;
}
/* https://www.w3schools.com/howto/howto_css_pill_button.asp */
.pillbtn {
	background-color: rgb(7, 178, 103);
	border: none; /* used to be none */
	width: 80%;
	height: 75%;
	padding: 10px 20px;
	text-align: center;
	/* vertical-align: middle; trying to center text in button */
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 16px;
}

.pillbtn:hover {
	box-shadow: 0 0 0 2pt white !important; /* box shadow https://stackoverflow.com/questions/5394116/outline-radius */
}

.sessiontitle {
	background-color: rgb(7, 178, 103);
	text-align: center;
	border-radius: 16px;
	padding: 10px 10px;
	margin: -2% 2px;
}

.sessiontitle:hover {
	box-shadow: 0 0 0 2pt white !important;
}

.tidbit {
	background-color: rgb(7, 178, 103);
	text-align: left;
	border-radius: 16px;
}

.tidbit:hover {
	box-shadow: 0 0 0 2pt white !important;
}

.header img {
	float: left;
	background: #555;
}
