@charset "UTF-8";
/* CSS Document */

#wrapper {
width: 900px;
margin: 0 auto;
text-align: center;
}

 #sit_image {
border: black 5px solid;
}
 
 #stand {
display: none;
border: black 5px solid;
}

.choices {
cursor: pointer;
}
